.container{
    width: 400px;
    height:650px;
    border: 5px solid black;
    border-radius: 50px;
    margin-left: 500px;
    position: relative;

    overflow:scroll;
    scrollbar-width: none;


}
.container>.child-1{
    display: inline-block;
    width:400px;
    height: 60px;
    background-color: rgba(255, 182, 233, 0.922);
    color: rgb(252, 252, 253);
    border-radius: 50px 49px 0px 0px;
    position: fixed;
    top: 2%;
    z-index: 1;


}
.child-2{
    margin-top: 70px;
    width:390px;
    height:500px;
    border-radius: 50px;
    position: relative;

 }
i{
    
    font-size: 25px;
    padding: 12px;
    
    
}
.sub-2{
    
    display: inline-block;
    width:330px;
    height: 50px;
    background-color: rgb(255, 241, 242);
    color: rgb(58, 58, 58);
    border-radius: 50px ;
    position: fixed;
    bottom: 10%;
    margin-left: 10px;
    z-index: 1;

}
.sub-3{
    width:40px;
   
    height:40px;
    display: inline-block;
    background-color: rgb(1, 78, 1);
    border-radius: 50%;
    color: white;
    padding: 4px;
    position: fixed;
    bottom: 10%;
    margin-left: 343px;
    z-index: 1;
}
.bi-arrow-left{
    display: inline-block;
    color: black;

    position: absolute;
    top: 5px;
    left: 3px;
}
.bi-camera-video{
    display: inline-block;
    color: black;

    position: absolute;
    top: 5px;
    left: 150px;
}
.bi-telephone-fill{
    display: inline-block;
    color: black;

    position: absolute;
    top: 5px;
    right: 40px;
}
.bi-three-dots-vertical{
    display: inline-block;
    color: black;

    position: absolute;
    top: 5px;
    right: 0px;
}

#img{
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 5px;
    left: 40px;
}
#right{
    margin-top: 0%;
    margin-left: 100px;
}
.name{
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    position: absolute;
    top: 0px;
    left: 100px;

}
#img1{
    width: 400px;
    height: 650px;
    border-radius: 40px;
    position:fixed;
    z-index: -1;
 }
 
.date{
    /*border: 2px solid green;*/
    width: fit-content;
    max-width: 100%;
    margin-left: 40%;
    padding: 3px;
    background-color: rgb(249, 190, 118);
    position:sticky;
    top:12%;
     
}

.text-left{
    background-color: rgb(251, 251, 169);
    border-radius: 40px;
    padding:7px;
    width: fit-content;
    max-width: 100%;
    
    margin-left: aut0;
    text-align: left;
    
   
}
.text-right{
    background-color: lightgreen;
    border-radius: 50px;
    padding:5px;
    width: fit-content;
    margin-left: auto;
    max-width: 100%;
    text-align: right;
    
    
    /*text-align: justify;
     */
}
   

.bi-sticky{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.bi-paperclip{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 50px;
}
.bi-currency-rupee{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 50px;
}
.bi-camera{
    display: inline-block;
    
    position: relative;
    bottom: 5px;
    left: 45px;
}
.msg{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 6px;
    margin-top: 0%;
}

.bi-mic-fill{
       
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 5px;
    
    }





